FPGA/db/*
FPGA/output_files/*
FPGA/greybox_tmp/*
FPGA/incremental_db/*
Scheme/ALTIUM_DESIGNER/__Previews/*
Scheme/EXPERIMANTAL/__Previews/*
Scheme/ALTIUM_DESIGNER/*/__Previews/*
Scheme/EXPERIMANTAL/*/__Previews/*
Scheme/ALTIUM_DESIGNER/*/History/*
STM32/MDK-ARM/WOLF/WOLF.build_log.htm
STM32/MDK-ARM/WOLF/WOLF.htm
STM32/Debug/*
Status Report.txt
Design Rule Check*
*~*.zip
*.log
*.o
*.bak
*.d
*.smsg
*.rpt
*.crf
*._2i
*.__i
*._ia
*.summary
*.axf
*.map
*.dep
*.jic
*.pof
*.rpt
*.sof
WOLF.uvguix.*
